@model List<Olimp.ViewModels.StoreWarehouse.StoreWarehouseViewModel>
<div class="d-flex flex-row">
    <div class="ml-1">
        <form method="get" asp-action="AllProducts">
            <div class="bg-secondary shadow p-3 mb-5 bg-white rounded align-self-start">
                <div class="form-group">
                    <p style="text-align: center" class="h3 hb">Категория</p>
                    <select size="1" name="categoriesId" class="form-control">
                        <option value="0">Не выбрано</option>
                        @foreach (var item in ViewBag.Categories)
                        {
                            if (item.Id == ViewBag.SelectCategoriesId)
                            {
                                <option selected value="@item.Id">@item.ProductCategory</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.ProductCategory</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <p style="text-align: center" class="h3 hb">Бренд</p>
                    <select size="1" name="brandId" class="form-control">
                        <option value="0">Не выбрано</option>
                        @foreach (var item in ViewBag.Brands)
                        {
                            if (item.Id == ViewBag.SelectBrandsId)
                            {
                                <option selected value="@item.Id">@item.ProductBrand</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.ProductBrand</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <p style="text-align: center" class="h3 hb">Цена</p>
                    <div class=" d-flex align-items-baseline">
                        <input type="number" step="0.01" name="priceStart" class="form-control" placeholder="Цена от" value="@ViewBag.PriceStart">
                        <input type="number" step="0.01" name="priceEnd" class="form-control" placeholder="Цена до" value="@ViewBag.PriceEnd">
                    </div>
                </div>
                <div class="form-group">
                    <p style="text-align: center" class="h3 hb">Тип сортировки</p>
                    <select size="1" name="sortType" class="form-control">
                        <option value="0">По умолчанию</option>
                        @if (1 == ViewBag.SelectedSort)
                        {
                            <option selected value="1">По возрастанию цены</option>
                        }
                        else
                        {
                            <option value="1">По возрастанию цены</option>
                        }
                        @if (2 == ViewBag.SelectedSort)
                        {
                            <option selected value="2">По убыванию цены цены</option>
                        }
                        else
                        {
                            <option value="2">По убыванию цены цены</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Применить</button>
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in @Model)
            {
                <div class="col-4 mb-4">
                    <div class="card">
                        @if (item.Discount != 0)
                        {
                            <span class="badge badge-danger" style="position: absolute; font-size: 20px">-@item.Discount%</span>
                        }
                        <img class="card-img responsive" src="@item.Product.Image" alt="@item.Product.Title image">
                        <div class="card-body">
                            <h4 class="card-title">@item.Product.Title</h4>
                            <div class="buy d-flex justify-content-between align-items-baseline">
                                <div class="price">
                                    @if (item.Discount == 0)
                                    {
                                        <div class="d-flex align-items-baseline">
                                            <h3 class="mt-3 text-success">@item.Price</h3><h5 class="ml-2">BYN</h5>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-baseline">
                                            <h3 class="mt-3 text-danger">@Math.Round(item.Price - item.Price * (item.Discount / 100.00), 2)</h3>
                                            <del class="ml-1">@item.Price</del>
                                            <h5 class="ml-2">BYN</h5>
                                        </div>
                                    }
                                </div>
                                <a asp-action="Product" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary mt-2"><i class="fas fa-shopping-cart"></i>Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>