@model List<Olimp.ViewModels.StoreWarehouse.StoreWarehouseViewModel>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/product/AllProducts">
                    <img style="width:1110px; height: 500px; object-fit: cover;" class="d-block w-100" src='https://www.tazz-sport.com/wp-content/uploads/2017/10/runing-img-3.jpg' alt="Первый слайд"/>
                </a>
            </div>
            <div class="carousel-item">
                <a href="/product/AllProducts">
                    <img style="width:1110px; height: 500px; object-fit: cover;" class="d-block w-100" src='https://iptv-russia.ru/wp-content/uploads/2020/10/sports-all-1024x576.jpg' alt="Первый слайд"/>
                </a>
            </div>
            <div class="carousel-item">
                <a href="/product/AllProducts">
                    <img style="width:1110px; height: 500px; object-fit: cover;" class="d-block w-100" src='https://www.tazz-sport.com/wp-content/uploads/2017/10/runing-img-2.jpg' alt="Первый слайд"/>
                </a>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="lastAdded" class="mt-4">
        <h1 class="display-5 mb-4">Лучшие скидки</h1>
        <div class="row">
            @foreach (var item in @Model)
            {
                <div class="col-4 mb-4">
                    <div class="card">
                        @if (item.Discount != 0)
                        {
                            <span class="badge badge-danger" style="position: absolute; font-size: 20px">-@item.Discount%</span>
                        }
                        <img class="card-img responsive" src="@item.Product.Image" alt="@item.Product.Title image">
                        <div class="card-body">
                            <h4 class="card-title">@item.Product.Title</h4>
                            <div class="buy d-flex justify-content-between align-items-baseline">
                                <div class="price">
                                    @if (item.Discount == 0)
                                    {
                                        <div class="d-flex align-items-baseline">
                                            <h3 class="mt-3 text-success">@item.Price</h3><h5 class="ml-2">BYN</h5>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-baseline">
                                            <h3 class="mt-3 text-danger">@Math.Round(item.Price - item.Price * (item.Discount / 100.00), 2)</h3>
                                            <del class="ml-1">@item.Price</del>
                                            <h5 class="ml-2">BYN</h5>
                                        </div>
                                    }
                                </div>
                                <a asp-action="Product" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary mt-2"><i class="fas fa-shopping-cart"></i>Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="brands">
        <h1 class="display-5 mb-4">Бренды представленные в нашем магазине</h1>
        <div class="row">
            @foreach (var item in @ViewBag.Brands)
            {
                <div class="col-2 bg-secondary shadow p-3 mb-3 bg-white rounded m-2 ">
                    <a style="color:#000000; text-decoration:none" href="/Product/AllProducts/?brandId=@item.Id">
                        <h3 class="display-5">@item.ProductBrand</h3>
                    </a>
                </div>
            }
            <div class="col-lg-12">
                <a asp-controller="Product" asp-action="AllBrands">
                    <p class="h4">Полный список брендов вы можете найти в разделе всех брендов.</p>
                </a>
            </div>
        </div>
    </div>
</div>