@model List<Olimp.Models.OrderStoreWarehouses>

<div class="content">
    @{ double totalAmount = 0; }
    <div class="h2">Заказ №@Model[0].OrderId</div>
    @foreach (var item in @Model)
    {
        {
            if (item.StoreWarehouse.Discount == 0)
            {
                totalAmount += item.Quantity * item.StoreWarehouse.Price;
            }
            else
            {
                totalAmount = Math.Round(item.StoreWarehouse.Price - item.StoreWarehouse.Price * (item.StoreWarehouse.Discount / 100.00), 2) * item.Quantity;
            }
        }
        <div class="row mt-5 border-bottom pb-3">
            <div class="col-lg-2">
                <img src="@item.StoreWarehouse.Product.Image" alt="product" style="height: 150px;width: 150px;"/>
            </div>
            <div class="col-lg-4">
                <div class="h5">
                    <a asp-action="Product" asp-controller="Product" asp-route-id="@item.StoreWarehouse.Id">@item.StoreWarehouse.Product.Title</a>
                </div>
                <div>Бренд : @item.StoreWarehouse.Product.Brand.ProductBrand</div>
                <div>Категория : @item.StoreWarehouse.Product.Category.ProductCategory</div>
                <div>Количесво : @item.Quantity</div>
                <div>Стоимость : @item.StoreWarehouse.Price</div>
            </div>
        </div>
    }
    <div class="row mt-5">
        <div class="col-lg-12 d-flex justify-content-end align-items-baseline">
            <p>Итоговая сумма : </p>
            <p class="text-success h3 ml-2">@totalAmount</p>
            <div class="h4 ml-1">BYN</div>
        </div>
    </div>
</div>