@model List<Order>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Номер заказа</th>
                        <th scope="col">Дата заказа</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Адрес самовывоза</th>
                        <th scope="col">Итоговая сумма, BYN</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in @Model)
                    {
                        <tr>
                            <th scope="row"><a asp-action="Order" asp-controller="Product" asp-route-id="@order.Id">@order.Id</a></th>
                            <td>@order.OrderDate</td>
                            <td>@order.Status.OrderStatus</td>
                            <td>@order.StoreAddress</td>
                            <td>@order.FinalPrice BYN</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>