<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Olimp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

    <link href="~/lib/Kendo/styles/kendo.bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/lib/Kendo/styles/kendo.bootstrap-main.css"/>
    <script src="~/lib/Kendo/js/jquery.min.js"></script>
    <script src="~/lib/Kendo/js/kendo.all.min.js"></script>
    <script src="~/lib/Kendo/js/kendo.timezones.min.js"></script>
    <script src="~/lib/Kendo/js/cultures/kendo.culture.ru.min.js"></script>
    <script src="~/lib/Kendo/js/messages/kendo.messages.ru-RU.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="MainPage">Olimp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="MainPage">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AllProducts">Все товары</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Product" asp-action="UserBasket" asp-route-id="@User.Claims.ElementAt(0).Value">
                                <img id="basket" class="rounded-circle" src="https://img.icons8.com/material-outlined/200/000000/shopping-cart--v1.png" value="" alt="basket" style="height: 33px; width: 33px; object-fit:cover;"/>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                               role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <img id="avatar" class="rounded-circle" src="" value="" alt="avatar" style="height: 33px; width: 33px; object-fit:cover;"/>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-route-id="@User.Claims.ElementAt(0).Value">@User.Claims.ElementAt(1).Value</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="ShowOrders" asp-route-id="@User.Claims.ElementAt(0).Value">Заказы</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Войти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>